# Dependências
node_modules/

# Build
dist/

# Ambiente
.env

# Uploads de Documentos (Importante não versionar arquivos de usuários)
uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
